@model aspnetcore_sagepay.Models.CardholderModel

@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Payment" asp-action="Index" method="get">

    <p>
        This site provides an introduction to taking payments using the SagePay gateway.  Click Continue to get started
    </p>
    <button type="submit" class="btn btn-primary">Continue</button>
</form>